{{#foreach posts}}
    <article class="post-listed {{post_class}}">
        <h2>
            <a href="{{url}}" title="{{title}}">{{title}}</a>
        </h2>

        <div class="post-meta">
            <span class="time">
                {{date format="DD MMMM, YYYY"}}
            </span>

            {{#if tags}}
                in
                <span class="tags">
                    {{#foreach tags}}
                        <a href="{{url}}" title="{{name}}">#{{name}}</a>
                    {{/foreach}}
                </span>
            {{/if}}
        </div>

        <div class="post-excerpt">
            <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
        </div>
    </article>
{{/foreach}}
{{pagination}}