{{!< default}}
{{#post}}
    <div class="post-single {{post_class}}">
        <div class="post-header">
            <h1>{{title}}</h1>
            {{^is "page"}}
                {{> "post-single-meta"}}
            {{/is}}
        </div>

        <div class="post-content">
            {{content}}
        </div>

        {{^is "page"}}
            <div class="post-footer">
                {{> "post-single-meta"}}
            </div>
        {{/is}}
    </div>

    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
        this.page.url = '{{url absolute="true"}}';
        this.page.identifier = '{{id}}';
        };
        (function() {
            var d = document, s = d.createElement('script');
            s.src = '//herveguetin.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{{/post}}